// variables
@import "colors";

// main
.restform {
  background: $white;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.restform-nav,
.restform > section > header,
.restform > section > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// sticky header
.restform-nav {
  background: $gray-100;
  z-index: 2001;
}
.restform-nav span {
  font-weight: 500;
}
.restform-nav .form-control {
  background: $white;
}

// header bar
.restform-header {
  background: $gray-100;
  border-style: solid;
  border-width: 1px 0 3px;
  border-color: $gray-200;
  color: $gray-600;
}

// pane contents
.restform-content .tab-pane {
  padding: 1.5rem;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: $gray-300;
}
.restform-content .tab-pane > table:last-child,
.restform-content .tab-pane > p:last-child,
.restform-content .tab-pane > ul:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .restform-content .tab-pane table th:first-child,
  .restform-content .tab-pane table td:first-child {
    padding-left: 1.5rem;
  }
  .restform-content .tab-pane table th:last-child,
  .restform-content .tab-pane table td:last-child {
    padding-right: 1.5rem;
  }
}
